@charset "UTF-8";

@media screen and (max-width: 1400px) {
    .topRight{display: none;}
    .topRIcon{
        top: 25px;
    }
}
@media screen and (max-width: 1000px) {
    .header{padding: 0; transition: none;}
    .mobile-menu{display: block;}
    .header-mobile-menu-bar{display: block;}
    .topLeft, .topRight, .nav{display: none;}
    .topLogo{top: 20px;}
    .topRIcon{top: 22px; right: 15px;}
}

@media screen and (max-width: 650px) {
    .topRIcon a{display: none;}
    .topRIcon .search{padding: 0;}
}